.App {
  margin:20px 40px;
}

/*Modal Styling*/
.modal .modal-header {
    background-color: #530081;
    color: #fff;
    border-bottom: 1px solid #530081;
    padding: 5px 10px;
    border-radius:0;
}
.modal .modal-header .btn-close {
    padding: 5px 10px;
    font-size: 12px;
}
.modal .modal-content {
  border:none;
}
label, p {
    font-size: 14px;
    font-weight: 600;
}
span {
  font-size:14px;
}
.modal .btn-secondary,.modal .btn-secondary:hover {
    padding: 5px 7px;
    background-color:#eee;
    border: 1px solid #eee;
    color: #656565;
    font-size:14px;
}
.modal .btn-primary,.modal .btn-primary:hover {
  padding: 5px 7px;
  background-color: #530081;
  border: 1px solid #530081;
  color: #fff;
  font-size:14px;
}
.RequestLockButton{
  background-color:#3452b4;
  color:#fff;
  padding:5px 7px;
  border:1px solid #3452b4;
  font-size:13px;
  margin: 3px 0 0 60px;
  border-radius:5px;
}
.fa-lock {
  margin-right:5px;
}

.fa-times {
    color:#fff;
}

#approveLock .modal-body label {
  width:150px;
  color:#3452b4;
}
#approveLock .modal-body div {
  margin-bottom:10px;
}
.StatusMsg {
    text-decoration: underline;
    color: #530081;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;

}
.Headings {
  color:#3452b4;
  text-decoration: underline;
}
/*Grid Styles*/
.k-grid {
  width:100%;
}
.k-grid .k-grid-header{
  background-color: #586d99;
  color: #fff;
}
.k-grid .k-pager-wrap {
  background-color: #586d99;
    color: #fff;
    padding: 0 10px;
}
.k-grid .k-pager-numbers .k-link.k-state-selected {
  color: #656565;
  background-color:#fff;
  min-width: 20px;
  height: 20px;
}
.k-grid tbody tr:hover,.k-grid tr.k-alt {
    background-color:#fff !important;
}
.k-grid td {
    border-color: #ccc !important;
    border-width: 1px 1px 0px 0px !important;
}
.k-grid-content {
    border: 1px solid #ccc !important;
    overflow-y: auto !important;
}